body {
background : #ffffff;
font-family : Verdana,Lucida,sans-serif;
}
body,tr,td {
font-size : 90%;
}
a {
color : #003399;
text-decoration : none;
}
a:hover {
color : #ff0000;
background : #18EBDD;
}

.titleBarTop {
background : #ffeeff;
}
.tableBody1 {
background : #eeeeee;
}
.tableHead1 {
background : #dcdcdc;
}
.tableHeadP {
background : #dcdcdc;
}
.title {
font-size : 200%;
color : #ffffff;
font-weight : bold;
}
.heading {
font-size : 120%;
font-weight : bold;
}
.resalte {
font-weight : bold;
}
.menu {
width: auto;
left: 0%;
border: 1px solid #ffffff;
}
.col1 {
width: 23%;
position:absolute;
left:1%;
text-align:center;
}
.col2 {
width: 23%;
position:absolute;
left:25%;
text-align:center;
}
.col3 {
width: 23%;
position:absolute;
left:50%;
text-align:center;
}
.col4 {
width: 23%;
position:absolute;
left:75%;
text-align:center;

}
#cabecerapeq {
width: 99%; 
text-align:center;
left: 0px;
padding-top: 7px;
padding-bottom: 7px;
}
#lineapeq {
width:99%;
left:0px;
border-bottom: 1px solid #ffffff;
position:static;
line-height: 20px;
}
#izquierdapeq {
width:30%;
left:0%;
float:left;
}
#derechapeq {
width: 70%;
float:left;
left: 40%;
}
#inicio {
padding-top:30px;

}
