body {
  background: #ffffff;
  font-size: 90%;
  font-family: 'Open Sans', Verdana, Lucida, sans-serif;
}
/* 
div {
  padding: 2px;
  margin: 0px;
  white-space: nowrap;
  border: 1px #ccffff dotted;
} */

#datosconocimientos,
#datosformacion,
#datospersonales,
#datosexperiencia,
#nombre,
#direccion,
#telefono,
#email,
#edad,
#permiso,
#vehiculo {
  width: 100%;
}

#datospersonales:hover,
#datosconocimientos:hover,
#datosformacion:hover,
#datosexperiencia:hover {
  font-family: 'Roboto';
  font-size: 110%;
}
 
a {
  color: #003399;
  text-decoration: none;
}

a:hover {
  color: #ff0000;
  background: #18ebdd;
}

.celdaEncabezado {
  /* background: #ffeeff; */
  background: #ffffff;
}

.celdaContenido {
  background: #eeeeee;
  width:70%;
  padding:1%;
  display: table-cell;
  }

.celdaLiteral {
  background: #dcdcdc;
  width:100px;
  padding:1%;
  display: table-cell;
}

.celdaTitulo {
  display:table-cell;
  width: 100%;
}

.letraLiteral {
  text-align: right;
  display: block;
}

.title {
  font-size: 200%;
  color: #ffffff;
  font-weight: bold;
}

.heading {
  font-family: 'Open Sans';
  font-size: 120%;
  font-weight: bold;
  text-align: center;
  /* display: block; */
  width: 100%;
}


.resalte {
  font-weight: bold;
}

.menu {
  width: auto;
  left: 0%;
  border: 1px solid #ffffff;
  display: table;
}

.col1 {
  width: 25%;
  background: #ffffcc;
  /* position: absolute; */
  float: left;
  left: 1%;
  text-align: center;
}

.cleaner {
  clear:both;
  height:1px;
  font-size:1px;
  border:none;
  margin:0; padding:0;
  background:transparent;
  display:none;
  }

#cabecerapeq {
  width: 99%;
  text-align: center;
  left: 0px;
  padding-top: 7px;
  padding-bottom: 7px;
}

#lineapeq {
  /* width: 99%; */
  left: 0px;
  border-bottom: 1px solid #ffffff;
  /* position: static; */
  position: relative;
  line-height: 20px;
  /* display: table-row; */
}

/* #izquierdapeq {
  width: 30%;
  left: 0%;
  float: left;
  text-align: right;
}

#derechapeq {
  width: 70%;
  float: left;
  left: 40%;
} */

#inicio {
  padding-top: 30px;
}